.coronavirus::after {
  background-image: url(https://safety4sea.com/wp-content/uploads/2020/02/wilhelmsen-live-map-1280x640.png);
  background-attachment: fixed;
  opacity: 0.5;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}