.elonmusk::after {
  background-image: url(https://innovationhouse.org.ua/wp-content/uploads/2018/03/spacex-1-1-1480x740.jpg);
  background-attachment: fixed;
  opacity: 0.5;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}