.oscar::after {
  background-image: url(https://bykvu.com/wp-content/uploads/2020/02/09/1575368932381c33fc7dbd7f378fac132cb7549b7e813.jpg);
  background-attachment: fixed;
  opacity: 0.5;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}