@import '~bootstrap/scss/bootstrap';
@import 'coronavir.scss';
@import 'elonmusk.scss';
@import 'oscar.scss';

body {
  background: seashell;
}

.news-img-thumbnail {
  object-fit: cover;
  object-position: bottom;
  font-family: 'object-fit: cover; object-position: center;';
}

.news {
  background: seashell;
}

.blog-post {
  background-color: seashell;
}

.blog-post-media > img {
  width: 100%;
  max-width: 400px;
}

.hidden {
  display: none;
}